.login {
    
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .LoginTitle {
        font-size: 50px;
    }

    .loginForm {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        label {
            margin: 10px 0;
        }

        .loginInput {
            padding: 10px;
            background-color: #fff;
            border: none;
        }

        .loginButton {
            margin-top: 20px;
            cursor: pointer;
            background-color: lightsalmon;
            border: none;
            color: #fff;
            border-radius: 5px;
            padding: 5px;
            font-size: 14px;
        }
    }

    .loginRegisterButton {
        position: absolute;
        top: 60px;
        right: 30px;
        border: none;
        background-color: teal;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}